:root {
	--primaryColor: #a6b9ff;
	--secondaryColor: #ffffff;
}

.wrapper {
  margin: 5% auto;
  width: 80%;
	height: auto;
	text-align: center;
}


.btn {
	display: inline-block;
  margin: 1rem;
  cursor: pointer;
  overflow: visible;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
  color: var(--secondaryColor);
	transition: all 400ms linear;
}

.btn.btn-bg-transparent {
	padding: 1em 2em 1em;
	line-height: 1;
	background:transparent;
	border: 2px solid var(--secondaryColor);
  border-radius: 6px;
}

.btn.btn-bg-transparent:hover {
  color: var(--primaryColor);
	background: #ecf0f1;
	background: linear-gradient(-45deg, #ecf0f1 0%, #f6f6f6 47%, #ededed 100%);
	border: 1px solid #EBF0F1;
	transform: scale(1.2);
}

.btn.btn-bg-color {
  padding: 1em 2em 1em;
	line-height: 1;
  color: var(--primaryColor);
  background: #ecf0f1;
	background: linear-gradient(-45deg, #ecf0f1 0%, #f6f6f6 47%, #ededed 100%);
	border: 2px solid #EBF0F1;
	border-radius:6px;
}

.btn.btn-bg-color:hover {
	color: var(--secondaryColor);
	background: transparent;
 	border: 2px solid #fff;
	transform: scale(1.2);
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes lightSpeedIn {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }

  100% {
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}

/* Custom global style */
body {
	/* background by SVGBackgrounds.com */
	background-color: var(--primaryColor);
	background-image: url("../images/subtlePrism.svg");
	background-attachment: fixed;
	background-size: cover;

	font-family: ‘Metrophobic’, Arial, serif;
	color: var(--secondaryColor);
}

h1 {
  padding: 40px;
  font-weight: 600;
  font-size: 2.5em;
}
