main.wrapper
  section.loaders
    span.loader.loader-quart 
    |  Loading...
  section.loaders.loaders-bg-2
    span.loader.loader-double 
    |  Loading...
  section.loaders.loaders-bg-3
    span.loader.loader-circles 
    |  Loading...
  section.loaders.loaders-bg-4
    span.loader.loader-bars
      span 
    |  Loading...