h1 .easyLevel
div.level.easyLevel
h1 .averageLevel
div.level.averageLevel
h1 .difficultLevel
div.level.difficultLevel
h1 .hardLevel
div.level.hardLevel
footer
  p &copy; 2014 Design by 
    a(href="http://francoislesenne.xyz") Fran&ccedil;ois Lesenne