:root {
	--Brown: Brown;
	--SteelBlue: SteelBlue;
	--DarkOrange: DarkOrange;
	--IndianRed: IndianRed;
	--BurlyWood: BurlyWood;
	--DarkSlateGrey: DarkSlateGrey;
	--DarkGrey: DarkGrey;
	--DimGrey: DimGrey;
	--Gainsboro: Gainsboro;
	--GhostWhite: GhostWhite;
	--DodgerBlue: DodgerBlue;
	--MediumPurple: MediumPurple;
	--OliveDrab: OliveDrab;
	--PaleVioletRed: PaleVioletRed;
	--DarkKhaki: DarkKhaki;
	--Peru: Peru;
	--CadetBlue: CadetBlue;

	--transition: 0.25s;
	--duration: 0.35s;
	--delay: 0.4s;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    vertical-align: baseline;
}

html {
	box-sizing: border-box;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-size: 62.5%;
    line-height: 1.5;
	text-rendering: optimizeLegibility;
	background-color: var(--DimGrey);
	color: var(--GhostWhite);
    overflow-x: hidden;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul, li {
	list-style: none;
	text-align: center;
}

li a h2 {
	margin:10px;
	padding: 1.5rem 0;
	font-weight: 700;
	font-size: 3rem;
	color: var(--GhostWhite);
	box-shadow: 0 0 0 10px rgba(112,72,72,.4);
	transition: var(--transition);
}

li a:hover h2 {
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}

nav {
	font-weight: 400;
  	padding: 2em;
  	position: fixed;
  	top: 0;
  	right: 0;
  	transform: translate(-25px, 25px);
  	z-index: 2;
}

.hamburger {
	position: fixed;
	width: 48px;
	height: 48px;
	top: 0;
	right: 0;
	background-color: transparent;
	border-radius: 50%;
	z-index: 999;
	cursor: pointer;
	transition: all var(--transition);
}

.hamburger:hover {
	background-color: RGBA(149, 195, 193, 0.5);
	transition-delay: var(--delay);
}

.hamburger.hamburger.nav-is-active {
	background-color: transparent;
	transition-delay: 0s;
}

.hamburger i {
	display: block;
	position: relative;
	margin: 17px 14px;
	width: 18px;
	height: 14px;
}

.hamburger i > span {
	position: absolute;
	left: 0;
	width: 50%;
	height: 2px;
	background: #fff;
	transition: transform linear calc(var(--transition)/2);
}

.hamburger i > span:nth-child(1) {
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

.hamburger i > span:nth-child(2) {
	right: 0;
	left: auto;
	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.hamburger i > span:nth-child(3) {
	margin-top: -1px;
	top: 50%;
	width: 100%;
}

.hamburger i > span:nth-child(4) {
	top: auto;
	bottom: 0;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}

.hamburger i > span:nth-child(5) {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	-webkit-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.hamburger.nav-is-active i > span:nth-child(1) {
	-webkit-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
	-moz-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
	-o-transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
	transform: translate(2px, -1px) rotate(45deg) scaleX(1.25);
  }

.hamburger.nav-is-active i > span:nth-child(2) {
	-webkit-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
	-moz-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
	-o-transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
	transform: translate(-2px, -1px) rotate(-45deg) scaleX(1.25);
}

.hamburger.nav-is-active i > span:nth-child(3) {
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
}

.hamburger.nav-is-active i > span:nth-child(4) {
	-webkit-transform: translate(0px, 3px) rotate(-45deg) scaleX(1.25);
	-moz-transform: translate(0px, 3px) rotate(-45deg) scaleX(1.25);
	-o-transform: translate(0px, 3px) rotate(-45deg) scaleX(1.25);
	transform: translate(0px, 3px) rotate(-45deg) scaleX(1.25);
}

.hamburger.nav-is-active i > span:nth-child(5) {
	-webkit-transform: translate(0px, 3px) rotate(45deg) scaleX(1.25);
	-moz-transform: translate(0px, 3px) rotate(45deg) scaleX(1.25);
	-o-transform: translate(0px, 3px) rotate(45deg) scaleX(1.25);
	transform: translate(0px, 3px) rotate(45deg) scaleX(1.25);
  }

.is-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	cursor: pointer;
	transition: var(--transition);
  	transition-delay: var(--delay);
}

.is-overlay.nav-is-active {
	background: rgba(40, 44, 53, 0.8);
	pointer-events: all;
	transition-delay: cal(var(--delay)/2);
}

.is-nav-lists {
	display: flex;
  	flex-direction: column;
  	justify-content: space-evenly;
	position: absolute;
	margin: 0;
  	top: 0;
  	right: 0;
  	width: 48px;
	height: 48px;
	font-size: 20px;
	background-color: RGBA(149, 195, 193, 0.5);
  	border-radius: 50%;
  	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
}

.is-nav-lists.nav-is-active {
	animation-name: openNav;
  	animation-duration: var(--duration);
  	animation-timing-function: ease-in-out;
  	animation-fill-mode: forwards;
  	transition: all var(--transition);
  	transition-delay: var(--delay);
}
.is-nav-item {
	visibility: hidden;
  	opacity: 0;
  	transition: all var(--transition);
  	transition-delay: 0;
}

.is-nav-item a {
	color: var(--Gainsboro);
	transition: color var(--transition);
}

.is-nav-item a:hover {
	color: var(--GhostWhite);
}

.is-nav-item.nav-is-active {
	visibility: visible;
  	opacity: 1;
  	transition: var(--transition);
	transition-delay: calc(var(--delay)*1.25);
}

.close-nav {
	animation-name: closeNav;
	animation-duration: var(--duration);
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}


.Brown {
	background-color: var(--Brown);
}
.SteelBlue {
	background-color: var(--SteelBlue);
}

.DarkOrange {
	background-color: var(--DarkOrange);
}

.IndianRed {
	background-color: var(--IndianRed);
}

.BurlyWood {
	background-color: var(--BurlyWood);
}

.DodgerBlue {
	background-color: var(--DodgerBlue);
}

.MediumPurple {
	background-color: var(--MediumPurple);
}

.OliveDrab {
	background-color: var(--OliveDrab);
}

.PaleVioletRed {
	background-color: var(--PaleVioletRed);
}

.DarkKhaki {
	background-color: var(--DarkKhaki);
}

.Peru {
	background-color: var(--Peru);
}

.CadetBlue {
	background-color: var(--CadetBlue);
}

footer {
	padding: 1rem 0;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	color: var(--DarkGrey);
}

footer a {
	color: var(--Gainsboro);
	transition: color var(--transition);
}

footer a:hover {
	color: var(--DarkGrey);

}

@keyframes openNav {
	0% {
	  	width: 48px;
	  	height: 48px;
	}
	25% {
	  	border-radius: 5px;
	}
	50% {
	  	border-radius: 5px;
	}
	75% {
		width: 250px;
	  	height: 300px;
	  	border-radius: 5px;
	}
	100% {
	  	width: 250px;
	  	height: 300px;
	  border-radius: 5px;
	}
}

@keyframes closeNav {
	0% {
	  	width: 250px;
	  	height: 300px;
	  	border-radius: 5px;
	}
	25% {
	  	width: 250px;
	  	height: 300px;
	  	border-radius: 5px;
	}
	50% {
	  	width: 250px;
	  	height: 300px;
	  	border-radius: 5px;
	}
	75% {
	  	border-radius: 5px;
	}
	100% {
	  	width: 48px;
	  	height: 48px;
	  	border-radius: 50%;
	}
}
