article.card
  header.card__header
    img.card__header--thumb(src="https://s3.eu-west-3.amazonaws.com/fl-cdpn.io/images/profil.jpg")
  section.card__date
    span.card__date--day 31
    span.card__date--month May
  section.card__body
    h5.card__body--category 
      a(href="#") HTML/CSS
    h1.card__body--title 
      a(href="#") Design Material UI/UX
    h2.card__body--subtitle Animation effect card CSS
    p.card__body--description I had fun at creates an animation in the overview of this card, giving him up with a transition effect. I got inspiration from a tutorial on the web and I meet at best the BEN convention. I me call François Lesenne and I like to learn new things on the web
  footer.card__footer
    span.icon.icon--time 4h
    span.icon.icon--comment
      a(href="#") 1 comments
    