.wrap
 h1 Simple CSS dropdown menu
 ul.list
  li 
   a(href="#") Overview list
   ul.item
    li
     a(href="#") Item
    li 
     a(href="#") Item
    li 
     a(href="#") Item
  li 
   a(href="#") Overview list
   ul.item
    li 
     a(href="#") Item
    li 
     a(href="#") Item
    li 
     a(href="#") Item
  li 
   a(href="#") Overview list
   ul.item
    li 
     a(href="#") Item
    li 
     a(href="#") Item
    li 
     a(href="#") Item
  