// $Var
$bg-color: #e7e4c9;
$color: #000;
$bg-color-list: #c1c1c1;
$bg-color-list-hover: #4a6ba2;
$color-list: #fff;
$bg-color-item: #d8d3a5;
$bg-color-item-hover: #beb66a;
$-color-item: #47689d;

// $Mixins
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; 
  -moz-box-sizing: $box-model; 
  box-sizing: $box-model;
}

@mixin size($width , $height: $width ) {
  width: $width;
  height: $height;
}

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}
*, 
*:before, 
*:after {
  @include box-sizing(border-box);
	margin: 0;
	padding: 0;
}
 
body{
	@include size(100%, auto);
  
  background: $bg-color;

  font-family: 'Libre Baskerville', serif;
  @include fontsize(16);
  color: $color;
}
 
.wrap {
  margin: 50px auto;
  width: 500px;
}

h1 {
  @include fontsize(32);
  text-align: center;
}
 
.list {
	padding:0;
	
  background: $bg-color-list;
  border: 1px solid rgba(0,0,0,0.8);
  
  @include fontsize(18);
  list-style: none;
  & li a{
    display: block;
    
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    border-top: 1px solid rgba(255,255,255, 0.2);
    background: #3e3f44;
    
    text-decoration:none;
    color: $color-list;
    
    text-shadow: 1px 0px 1px rgba(0,0,0,0.2);
    filter: dropshadow(color=#000, offx=1, offy=0);
    padding:10px;
    padding-left:20px;
    &:hover {
      background: $bg-color-list-hover;
    }
  }
}
 
.item {
  margin:0;
  padding:0;
  height:0;
  overflow: hidden;
  
  list-style:none;
  
  @include css3(transition, 1s);
  & li a{
  	background: $bg-color-item;
    @include fontsize(14);
    color: $-color-item;
  
    text-shadow: 1px 0px 1px rgba(255,255,255,0.5);
    filter: dropshadow(color=#000, offx=1, offy=0);
  	&:hover{
    	background: $bg-color-item-hover;
    }
  }
}

.list li:hover ul {
  height: 114px;
  overflow: hidden;
}